#root {
  max-width: 700px;
  margin: 0 auto;
}

ol {
  padding-left: 30px;
}

h1,
h3 {
  padding: 10px 0;
}

h1 {
  color: #18bc9c;
}

h3 {
  color: #021f19;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 2px solid #acf4e6;
  float: left;
  font-size: 40px;
  font-weight: bold;
  color: #18bc9c;
  line-height: 57px;
  height: 60px;
  width: 60px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game-section {
  padding: 20px;
}

.game-board {
  margin: 0 auto;
  position: relative;
}

.btn-long {
  width: 280px;
  margin: 10px 0;
}

.btn-short {
  width: 100px;
}

.play {
  text-align: center;
  margin: 10px 193px;
}

@media only screen and (max-width: 425px) {
  .play {
    margin: 0;
  }
}
